.about{
max-width:700px;
margin:auto;
line-height:1.6;
font-size:18px;
}

footer{
margin-top:40px;
padding:20px;
text-align:center;
background:#2f5d50;
color:white;
}

.card a{
display:inline-block;
margin-top:10px;
text-decoration:none;
background:#2f5d50;
color:white;
padding:8px 15px;
border-radius:6px;
font-size:14px;
}

.card a:hover{
background:#3f7a6a;
}